[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "rmsMD"]
	path = rmsMD
	url = https://github.com/sjtingle/rmsmd
[submodule "tican"]
	path = tican
	url = https://github.com/sjtingle/tican
